## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />
<%namespace name='static' file='/static_content.html'/>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
			<div class="row feature-row" id="veritasU">
				<h2>VeritasU</h2>
				<p>
            		VeritasU helps educators and institutions implement and deliver online courses. Our cloud-hosted solution doesn’t require custom software installation and our 24/7 support frees you from dedicated IT staff.
				</p>
	            <p>
	                <ul>
	                    <li>You focus on teaching</li>
	                    <li>We take care of all that grungy IT and tech stuff.</li>
	                </ul>
	            </p>
	            <p>
	                VeritasU is proud to use OpenEdX, the leading open source learning platform.
	            </p>
			    <div class="col-md-3 text-left sign-up-row">
			        <a href="/register" class="btn btn-warning btn-lg">Sign Up</a>
			    </div>
			</div>

        </div>
        <div class="col-xs-6">
			<div class="row feature-row" id="veritasU">
				<h2> VeritasU Features </h2>
				<p>
					<strong>Hosting:</strong> VeritasU provides a cloud-hosted online course development and delivery platform, with lower cost of ownership compared with internal self-hosting or proprietary LMS alternatives. 
				</p>
				<p>
					<strong>Course creation:</strong> We support OpenEdX’s Studio course creation tool. This allows you to put full course materials, including a range of assessment types.
				</p>
				<p>
					<strong>White-label hosting:</strong> Host on VeritasU.com or your domain, a flexible model so you can manage course access, branding, and marketing.
					
				</p>
				<p>
					<strong>Technology & IT support:</strong> Our hosted online learning solution offloads your need for in-house IT expertise and support.
				</p>
				<p>
					<strong>Course development support:</strong> We can help plan, execute, and brand your online course offerings.
				</p>
            </div>
        </div>

	
    </div>

	<div class="row">
		<div class="col-xs-6">
			<div class="row feature-row" id="veritasU">
				<h2>About OpenEdX</h2>
				<p>
					VeritasU leverages OpenEdX, to deliver great online courses. Open-EdX is the leading open source online learning platform, which powers MOOCs (massive open online courses) from Harvard, MIT, and other EdX partners. 
					
					OpenEdX features include:
								
				</p>
				<ul>
					<li> Studio online course creation</li>
					<li> Online course LMS </li>
					<li> Extensibility via Xblock plug-ins and LTI integrations </li>
					<li>Leading-edge assessment capabilities </li>
				</ul>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="row feature-row" id="veritasU">
				<h2> Video </h2>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/alZqquy3LEg"></iframe>
				</div>
			</div>
		</div>	
	</div>
	
    <div class="row">
        <div class="col-xs-6" >
			<div class="row feature-row" id="veritasU">
                <div class="pricing pricing-basic panel panel-default">
                    <div class="text-center panel-heading">
                        <h3>Basic Course Plan</h3>
                        <p>
                            <em>DIY Open-EdX course hosting</em>
                        </p>
                    </div>
                    <div class="panel-body">
                        <p>Online course creation</p>
                        <p>Hosted on VeritasU.com</p>
                        <p>Online support</p>
                        <hr>
                        <p>
                            <strike><strong>$199/mo per course</strong></strike>
                        </p>
                        <p>
                            <strong>First course free</strong> 
                        </p>
                    </div>
                    <div class="panel-footer text-center">
                        <a href="/register" class="btn btn-warning btn-lg">Sign Up</a>
                    </div>
                </div>
			</div>
            </div>
            <div class="col-xs-6">
				<div class="row feature-row" id="veritasU">
                <div class="pricing pricing-enterprise panel panel-default">
                    <div class="text-center panel-heading">
                        <h3>Premium Enterprise</h3>
                        <p>
                        <em>Custom support for online course success</em>
                        </p>
                    </div>
                    <div class="panel-body">
                        <p>Course creation and development support</p>
                        <p>Managed hosting, VeritasU.com or your domain</p>
                        <p>Scalable; no limits on courses and students</p>
                        <p>Full support 24/7</p>
                        <p>Custom add-on and plug-in development</p>
                        <p>Pricing based on course support needs</p>
                    </div>
                    <div class="panel-footer text-center">
                        <a href="/contact" class="btn btn-primary btn-lg">Contact Us</a>
                    </div>
                </div>
			</div>
           </div>
			
    </div>

</div>




