## mako
<%inherit file="../main.html" />
<%! from microsite_configuration import microsite %>
<%namespace name='static' file='/static_content.html'/>
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%! from third_party_auth import provider, pipeline %>

<%block name="pagetitle">${_("Your Password Reset is Complete")}</%block>

<%block name="bodyextra">
  <script type="text/javascript">
    $(function() {

      // adding js class for styling with accessibility in mind
      $('body').addClass('js');

      // new window/tab opening
      $('a[rel="external"], a[class="new-vp"]')
      .click( function() {
      window.open( $(this).attr('href') );
      return false;
      });

      // form field label styling on focus
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").parent().addClass("is-focused");
      }).blur(function() {
        $("label").parent().removeClass("is-focused");
      });
    });
  </script>
</%block>


<%block name = "bodyclass">view-passwordreset</%block>

<%block name="body">
  <section class="introduction">
    <header>
      <h1 class="title">
        <span class="title-super">
          ${_("Your Password Reset is Complete" )}
        </span>
      </h1>
    </header>
  </section>

  <section class="passwordreset container">
    <%block name="content">
   
    <section role="main" class="content">
      
      ${_('Your password has been set.  You may go ahead and ')} <a href="/login">log in</a> ${_('now.')}
      
    </section>
     </%block>
  </section>
</%block>
