## mako
<%! from django.core.urlresolvers import reverse %>

<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>
<%! 
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from edxmako.shortcuts import marketing_link
%>

<div class="wrapper-footer" id ="footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
      <li><a  href="/blog">Blog</a></li>
      <li><a  href="/jobs">Careers</a></li>
      <li><a  href="/faq">FAQ</a></li>
      <li><a  href="/contact">Contact Us</a></li>
      <li><a href="/features">Features</a></li>
      <li><a  href="/about">About</a></li>
      <li><a  href="/tos">Terms of Service</a></li>
	    </ol>
		
      </nav>
    </div>
	    <div class="references">
            <p class="social-stuff pull-right">
                Follow Us On Twitter: 
                <a href="https://twitter.com/Veritas_U" target="_blank">
                    <img src="/static/images/social/twitter-sharing.png">
                </a>
            </p>
	    </div>
		
	  </footer>
	</div>

		
