## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<header id="header" class="global">
    <div class="container">
        <span>
            <img src="${static.url('themes/veritasu/images/veritas-logo-small.png')}" class="header-logo-img">
            <a href="/">
                <img src="${static.url('themes/veritasu/images/VeritasU_RedNameOnlySmall.png')}" class="header-logo-text">
            </a>
        </span>
        <a class="btn btn-link" href="/courses">Courses</a>
        <a class="btn btn-link" href="/features">Features</a>
        <a class="btn btn-link" href="/about">About</a>
        <a class="btn btn-link" href="http://blog.veritasu.com">Blog</a>
    </div>
</header>