## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<header id="header" class="global">
    <div class="container">
        <span>
            <img src="${static.url('themes/veritasu/images/Veritas_U_Logo_Shield.png')}" class="header-logo-img">
            <a href="/">
                <img src="${static.url('themes/veritasu/images/VeritasU_RedNameOnlySmall.png')}" class="header-logo-text">
            </a>
        </span>
        <div class="pull-right" id="navbar-right">
            <a id="courses-nav-button" class="btn btn-link" href="/courses">Courses</a>
            <a id="features-nav-button" class="btn btn-link" href="/features">Features</a>
            <div class="btn-group">
                <a type="button" id = "about-nav-button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                About <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
					<li><a href="/about">About</a></li>
                    <li><a href="/tos">Terms of Service</a></li>
                    <li><a href="/jobs">Careers</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
	    %if not user.is_authenticated():
                <a class="btn btn-link" href="http://blog.veritasu.com">Blog</a>
                <a href="/register" class="btn btn-default login-btn">Sign Up</a>
                <a href="/login" class="btn btn-success login-btn">Login</a>
	    %else:
                <a class="btn btn-link" href="http://blog.veritasu.com">Blog</a>
				
				<div class="btn-group">
				  <button type="button" class="btn btn-primary"><strong>${user.username}</strong></button>
				  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				    <span class="caret"></span>
				    <span class="sr-only">Toggle Dropdown</span>
				  </button>
				  <ul class="dropdown-menu dropdown-menu-right" role="menu">
				    <li><a href="/dashboard">dashboard</a></li>
				    <li class="divider"></li>
				    <li><a href="${reverse('logout')}">Logout</a></li>
				  </ul>
				</div>
	   %endif
	   
        </div>
    </div>
</header>
